* {
    background-color: bisque;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

div {
    background-color: white;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    width: 50%;
}

.div1 {
    text-align: left;
}

.div2 {
    text-align: center;
}

.div3 {
    text-align: right;
}