h1 {
    background-color: cornflowerblue;
    display: inline;
    margin: auto;
    font-size: 20px;
}

.divcontainer {
    display: inline;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
}

table {
    margin: auto;
    background-color: bisque;
    width: 50%;
    border: 5px solid black;
    padding-top: 5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

td {
    border-left: 1px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}

.thfooter {
    background-color: cornflowerblue;
}