* {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

:root {
    --main-bg: hsl(222, 26%, 31%);
    --toggle-bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);
    --key-bg: hsl(225, 21%, 49%);
    --key-shadow: hsl(224, 28%, 35%);
    --key-bg-alt: hsl(30, 25%, 89%);
    --key-shadow-alt: hsl(28, 16%, 65%);
    --key-bg-special: hsl(6, 63%, 50%);
    --key-shadow-special: hsl(6, 70%, 34%);
    --text-color: hsl(0, 0%, 100%);
    --text-dark: hsl(221, 14%, 31%);
}

body {
    padding: 0px;
    overflow: hidden;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--main-bg);
}

.carcasa {
    border: 2px solid black;
    background-color: gray;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: row;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 1px;
    color: white;
    font-weight: bold;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 5vw;
    height: 2vh;
    background: #525252;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-left: 3px;
}

.resultadodiv {
    background-color: #343333;
    width: 100%;
    height: 15vh;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
}

.resultado {
    color: white;
    font-size: 50px;
    margin-right: 30px;
}

.panelnumerico {
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 62%;
    background-color: #525252;
    padding: 20px;
}

.numero {
    cursor: pointer;
    background-color: white;
    font-size: 40px;
    color: #343333;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6vh;
    width: 12vw;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.del {
    cursor: pointer;
    font-size: 40px;
    background-color: rgb(46, 70, 101);
    border-radius: 10px;
    color: white;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6vh;
    width: 12vw;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.reset {
    cursor: pointer;
    font-size: 40px;
    background-color: rgb(46, 70, 101);
    border-radius: 10px;
    color: white;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6vh;
    width: 18vw;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.resultadoinf {
    cursor: pointer;
    font-size: 40px;
    background-color: red;
    border-radius: 10px;
    color: white;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6vh;
    width: 18vw;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}