body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.EAT {
    background-color: rgba(176, 248, 135, 0.731);
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.SUPERIOR {
    display: flex;
    flex-direction: row;
    font-size: 40px;
}

.INFERIOR {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    margin-top: 200px;
}

.rowright {
    display: flex;
    flex-direction: row;
    margin-left: 170px;
    margin-top: 10px;
}

.rowleft {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 10px;
}

.LEFT {
    justify-content: flex-start;
}

.RIGHT {
    justify-content: flex-end;
    align-self: flex-end;
}

.PLAY {
    background-color: rgba(248, 246, 135, 0.731);
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.FIGHT {
    background-color: rgba(248, 135, 135, 0.731);
    width: 50vw;
    height: 50vh;
}

.barra {
    width: 40vw;
    background: #040404;
    border-radius: 10px;
    height: 3vh;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.barrasleep {
    margin-left: 145px;
}

#vidacomida {
    width: 10%;
    background: #4bb542;
    border-radius: 20px;
    height: 1.5vh;
    margin-left: 5px;
    margin-right: 5px;
}

#vidaplay {
    width: 49%;
    background: #4bb542;
    border-radius: 20px;
    height: 1.5vh;
    margin-left: 5px;
    margin-right: 5px;
}

#vidafuerza {
    width: 0%;
    background: #4bb542;
    border-radius: 20px;
    height: 1.5vh;
    margin-left: 5px;
    margin-right: 5px;
}

#vidasleep {
    width: 49%;
    background: #4bb542;
    border-radius: 20px;
    height: 1.5vh;
    margin-left: 5px;
    margin-right: 5px;
}
#vidahappiness {
    width: 100%;
    background: #4bb542;
    border-radius: 20px;
    height: 1.5vh;
    margin-left: 5px;
    margin-right: 5px;
}

#numcomida {
    margin-right: 5px;
}

#numplay {
    margin-right: 5px;
}

#numfuerza {
    margin-right: 5px;
}

#numsleep {
    margin-right: 5px;
}

#numhappiness {
    margin-left: 5px;
}
#EATTAG {
    margin-top: 180px;
    margin-left: 150px;
    font-size: xx-large;
    color: #4bb542;
}

#PLAYTAG {
    margin-top: 180px;
    margin-right: 150px;
    font-size: xx-large;
    color: #b5b142;
}

#FIGHTTAG {

    margin-top: 80px;
    margin-left: 100px;
    font-size: xx-large;
    color: #b54c42;
}

#SLEEPTAG {
    margin-top: 80px;
    margin-left: 500px;
    font-size: xx-large;
    color: rgb(58, 58, 148);
}

.SLEEP {
    background-color: rgba(135, 201, 248, 0.731);
    width: 50vw;
    height: 50vh;
}

#TAMAGOCHITAG {
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: bold;
}

.TAMAGOCHI{
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 230px;
    left: 32vw;
    justify-content: center;
    align-items: center;
}
.imgochi{
    width: 300px;
}

.barrahappiness {
    width: 35vw;
    background: #040404;
    border-radius: 10px;
    height: 3vh;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.HEARTS{
    font-size: xx-large;
    color: #b54c42;
}