* {
    margin: 0;
    padding: 0;
}



.red {
    background-color: #ff0000;
    float: left;
    width: 100%;
    height: 12vh;
}

.blue {
    clear: both;
    background-color: cornflowerblue;
    width: 100%;
    height: 4vh;
}

.beige {
    float: left;
    background-color: beige;
    width: 60%;
    height: 80vh;
}

.pink {
    float: right;
    background-color: pink;
    height: 80vh;
    width: 38%;
}

.green {
    width: 100%;
    height: 4vh;
    clear: both;
    float: left;
    background-color: greenyellow;
}