#nav-cross-shop {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.column {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.linea {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logohire {
    display: flex;
    flex-direction: column;
}

.logo {
    position: absolute;
}

.xavis {
    text-decoration: none;
    color: blue;
}

.xavis:hover {
    text-decoration: underline;
    color: orange;
}

.contact {
    color: brown;

}

.contact:hover {
    text-decoration: none;
    color: orange;
}

.anamazcontact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    font-size: medium;
}

.palo {
    margin-left: 10px;
    margin-right: 10px;
}

.shortby {
    width: 8vw;
}

.web {
    margin-left: 8px;
    margin-top: 10px;
    font-weight: bold;
    font-size: small;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchtxt {
    font-weight: bold;
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.header-inferior {
    font-size: small;
}

.job-candidates {
    border: 1px solid gray;
}

.buscador {
    border: none;
}

.go {
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 9px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer; 
}
.company {
    margin-left: 5px;
    color: orange;
}

.nav-divider {
    border-right: 1px solid #ddd;
    position: absolute;
    height: 34px;
    width: 1px;
    top: 11px;
}

.yellow {
    background-color: rgba(255, 255, 0, 0.1);
    padding-left: 330px;
    margin-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.minimagenes{
    width: 4vw;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}