* {
    background-color: blue;
    margin: auto;
}

.circu {
    position: relative;
    border-radius: 50%;
}

.nulo {
    background-color: rgb(165, 165, 165);
    width: 700px;
    height: 700px;
    border: 4px solid rgb(54, 53, 53);
    outline: 4px solid rgb(54, 53, 53);
    outline-offset: -33px;
    position: relative;
    margin-top: 100px;
}

.ext1 {
    background-color: white;
    width: 620px;
    height: 620px;
    top: 32px;
    left: 32px;
    outline-offset: -80px;
    outline: 35px solid red;
    border: 8px solid red;
    z-index: 1;
    position: absolute;
}


.ext2 {
    background-color: red;
    width: 400px;
    height: 400px;
    top: 350px;
    left: 140px;
    outline-offset: -80px;
    outline: 35px solid rgb(255, 255, 255);
    bottom: 500px;
    position: absolute;
    z-index: 1;
} 

.ext3 {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;

    top: 350px;
    left: 270px;

    border: white 20px solid;
    outline-offset: -80px;
    outline: 35px solid rgb(255, 0, 0);
    bottom: 500px;
    position: absolute;
    z-index: 1;
} 

.arriz{
    position: absolute;
    background-color: transparent;
    width: 330px;

    top: 28px;
    left: 338px;

    height: 320px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    z-index: 3;
}

.abder{
    position: absolute;
    background-color: transparent;
    width: 310px;

    top: 347px;
    left: 27px;

    height: 320px;
    border-right: 5px solid black;
    border-top: 5px solid black;
    z-index: 3;
}