@media (min-width: 769px) {
    body {
        display: grid;
        grid-template-columns: 5;
        margin: 0px;
        padding: 0px;
        width: 100vw;
        font-size: 30px;
        align-items: center;
    }

    .centrado {
        align-content: center;
        text-align: center;
    }

    .header {
        height: 5vh;
        background-color: black;
        color: white;
        grid-column: 1/2;
    }

    .menu {
        height: 5vh;
        background-color: crimson;
        color: white;
        grid-column: 2/5;
    }

    .hero {
        height: 40vh;
        background-color: cornflowerblue;
        color: white;
        grid-column: 1/5;
    }

    .main {
        height: 35vh;
        background-color: royalblue;
        color: white;
        grid-column: 1/3;
    }

    .image {
        height: 20vh;
        background-color: lightblue;
        color: black;
        grid-column-start: 4;
        grid-row-start: 3 50%;
    }

    .extra {
        height: 20vh;
        background-color: springgreen;
        color: black;
        grid-column-start: 4;
        grid-row-start: 3 50%;
    }

    .banner {
        height: 20vh;
        background-color:wheat;
        color: black;
        grid-column: 1/5;
    }
}