/* Movil */
@media (max-width: 320px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0px;
        padding: 0px;
        width: 100vw;
        font-size: 30px;
        align-items: center;
    }

    .centrado {
        align-content: center;
        text-align: center;
    }

    .header {
        height: 5vh;
        background-color: black;
        color: white;
        grid-column: 1 / -1;
        grid-row: 1;
    }

    .menu {
        height: 5vh;
        background-color: crimson;
        color: white;
        grid-column: 1 / -1;
        grid-row: 2;
    }

    .hero {
        height: 30vh;
        background-color: cornflowerblue;
        color: white;
        grid-column: 1 / -1;
        grid-row: 3;
    }

    .main {
        height: 30vh;
        background-color: royalblue;
        color: white;
        grid-column: 1 / -1;
        grid-row: 4;
    }

    .banner {
        height: 10vh;
        background-color: wheat;
        color: black;
        grid-column: 1 / -1;
        grid-row: 5;
    }

    .image {
        height: 10vh;
        background-color: lightblue;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1 / -1;
        grid-row: 7;
    }

    .extra {
        height: 10vh;
        background-color: springgreen;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1 / -1;
        grid-row: 6;
    }
}

/* Tablet */
@media (min-width: 321px) and (max-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        margin: 0px;
        padding: 0px;
        width: 100vw;
        font-size: 30px;
        align-items: center;
    }

    .centrado {
        align-content: center;
        text-align: center;
    }

    .header {
        height: 10vh;
        background-color: black;
        color: white;
        grid-column: 1 / 4;
        grid-row: 1;
    }

    .hero {
        height: 35vh;
        background-color: cornflowerblue;
        color: white;
        grid-column: 1 / 4;
        grid-row: 2;
    }

    .menu {
        height: 100%;
        background-color: crimson;
        color: white;
        grid-column: 1 / 2;
        grid-row: 3 / 6;
    }


    .main {
        height: 35vh;
        background-color: royalblue;
        color: white;
        grid-column: 2 / 4;
        grid-row: 3;
    }

    .banner {
        height: 10vh;
        background-color: wheat;
        color: black;
        grid-column: 2 / 4;
        grid-row: 4;
    }

    .image {
        background-color: lightblue;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        grid-column: 3 / 4;
        grid-row: 5;
    }

    .extra {
        background-color: springgreen;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 2 / 3;
        grid-row: 5;
        width: 50vw;
        height: 10vh;
    }
}

/* Desktop */
@media (min-width: 769px) {
    body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, auto);
        margin: 0px;
        padding: 0px;
        width: 100vw;
        font-size: 30px;
        align-items: center;
    }

    .centrado {
        align-content: center;
        text-align: center;
    }

    .header {
        background-color: black;
        color: white;
        grid-column: 1 / 2;
        grid-row: 1;
        height: 15vh;
    }

    .menu {
        background-color: crimson;
        color: white;
        grid-column: 2 / 5;
        grid-row: 1;
        height: 15vh;

    }

    .hero {
        background-color: cornflowerblue;
        color: white;
        grid-column: 1 / 5;
        grid-row: 2;
        height: 30vh;

    }

    .main {
        background-color: royalblue;
        color: white;
        grid-column: 1 / 3;
        grid-row-start: 3;
        grid-row-end: 5;
        height: 30vh;

    }

    .image {
        background-color: lightblue;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 4 / 5;
        grid-row: 3;
        height: 15vh;
    }

    .extra {
        background-color: springgreen;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 4 / 5;
        grid-row: 4;
        height: 15vh;
    }

    .banner {
        background-color: wheat;
        color: black;
        grid-column: 1 / 5;
        grid-row: 5;
        height: 25vh;
    }
}